@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  body {
  }
  .nav-img {
  }

  .nav-img-mob {
    flex-direction: column;
    margin: 0 1rem 3rem;
    transition: all 0.1s ease-out;
    width: 1.6rem;
  }

  .nav-mobile-only {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 769px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: 'Overpass', sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 2rem 0 0;
}

.nav-left {
  display: inline-flex;
  align-items: self-end;
}

.nav-right {
  display: inline-flex;
  align-items: self-end;
}

.nav-item {
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 0rem;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

.nav-item:hover {
  transform: scale(1.115);
}

.nav-item:active {
  transition: none;
  transform: scale(0.95);
}

.hero {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: calc(100vh - 8rem);
  max-width: 60rem;
  margin: 0 auto;
  margin: 0rem auto 0;
}

.Kyrios_Home_Logo {
  width: 12rem;
  opacity: 0.8;
  min-height: 3rem;
  margin: 1rem auto;
  transition: all 0.1s ease-out;
}

.Kyrios_Home_Logo:hover {
  transform: scale(1.1);
}
.Kyrios_Home_Logo:active {
  transition: none;
  transform: scale(0.95);
}
.Kyrios_Home_Title {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.hero-cta {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.card-landing {
  display: inline;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 3rem;
}

.nav-img {
  width: 1.2rem;
  margin: auto;
  margin-right: 1.5rem;
  align-content: center;
}

.Kyrios_Home_Desc {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.05em;
  position: relative;
  text-align: center;
  background-image: linear-gradient(to left, #ffffff, #ffffff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer {
  color: #cf783d;
  font-weight: 400;
  text-align: center;
  padding: 10px 0 0px;
}

.timer li {
  display: inline-block;
  font-size: 15px;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
.timer li p {
  display: block;
  font-size: 20px;
}
